/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
  background-color: #FBB13F;
}

/* line 9, ../sass/style.scss */
.brief-introduction {
  position: relative;
  width: 100%;
  height: 900px;
  box-sizing: border-box;
  background-image: url("../assets/brief_introduction.jpg");
  background-size: cover;
  padding: 100px;
}
/* line 18, ../sass/style.scss */
.brief-introduction .lakers-logo {
  float: right;
  width: 150px;
  height: 150px;
  background-image: url("../assets/lakers-logo.jpg");
  background-size: cover;
}
/* line 26, ../sass/style.scss */
.brief-introduction .lakers-logo:hover {
  transform: scale(1.5);
}
/* line 30, ../sass/style.scss */
.brief-introduction .name {
  float: right;
  margin-right: 50px;
  color: #380F69;
  font-family: Arial;
  font-size: 80px;
  font-style: italic;
  line-height: 150px;
}
/* line 40, ../sass/style.scss */
.brief-introduction .name:hover {
  transition: All 0.4s ease-in-out;
  transform: rotate(360deg);
}
/* line 45, ../sass/style.scss */
.brief-introduction .txt-introduction {
  display: block;
  position: absolute;
  width: 40%;
  right: 100px;
  top: 350px;
  font-size: 20px;
  color: white;
  line-height: 25px;
  font-family: Arial;
}
/* line 57, ../sass/style.scss */
.brief-introduction .txt-introduction:hover {
  transform: scale(1.2);
}

/* line 63, ../sass/style.scss */
.related-video {
  width: 100%;
  height: 500px;
  background-color: yellow;
}
/* line 68, ../sass/style.scss */
.related-video .left-half {
  float: left;
  width: 50%;
  height: 100%;
}
/* line 73, ../sass/style.scss */
.related-video .right-half {
  float: left;
  width: 50%;
  height: 100%;
}

/* line 80, ../sass/style.scss */
.glory {
  width: 100%;
  height: 560px;
  background-color: #FBB13F;
  border: 10px solid black;
  box-sizing: border-box;
}
/* line 87, ../sass/style.scss */
.glory .glory-title {
  width: 100%;
}
/* line 90, ../sass/style.scss */
.glory .glory-title li {
  float: left;
  width: 25%;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
}
/* line 97, ../sass/style.scss */
.glory .glory-title li a {
  line-height: 100px;
  font-size: 20px;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
}
/* line 106, ../sass/style.scss */
.glory .glory-title li:hover {
  border-bottom: 10px solid white;
}
/* line 109, ../sass/style.scss */
.glory .glory-title li:nth-child(1) {
  border-bottom: 10px solid white;
}
/* line 114, ../sass/style.scss */
.glory .glory-images {
  width: 100%;
  height: 400px;
}
/* line 117, ../sass/style.scss */
.glory .glory-images li {
  float: left;
  width: 25%;
  height: 100%;
  background-size: cover;
}
/* line 123, ../sass/style.scss */
.glory .glory-images li:nth-child(1) {
  background-image: url("../assets/champian.jpg");
}
/* line 126, ../sass/style.scss */
.glory .glory-images li:nth-child(2) {
  background-image: url("../assets/all-star.jpg");
}
/* line 129, ../sass/style.scss */
.glory .glory-images li:nth-child(3) {
  background-image: url("../assets/slam.jpg");
}
/* line 132, ../sass/style.scss */
.glory .glory-images li:nth-child(4) {
  background-image: url("../assets/olympic.jpg");
}
/* line 136, ../sass/style.scss */
.glory .glory-images li:hover {
  transition: All 0.4s ease-in-out;
  transform: scale(1.2);
}

/* line 143, ../sass/style.scss */
.gallery-rivals {
  width: 100%;
  height: 500px;
  background-color: #FBB13F;
  border: 10px solid black;
  border-top-width: 0px;
  box-sizing: border-box;
}
/* line 150, ../sass/style.scss */
.gallery-rivals p {
  padding-top: 30px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  color: #380F69;
  border-style: italic;
}
/* line 160, ../sass/style.scss */
.gallery-rivals .dg-wrapper div {
  color: #380F69;
}

/* line 163, ../sass/style.scss */
.difficult-times {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #FBB13F;
  box-sizing: border-box;
}
/* line 170, ../sass/style.scss */
.difficult-times p {
  padding: 30px;
  line-height: 40px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  color: #380F69;
  border-style: italic;
}
/* line 181, ../sass/style.scss */
.difficult-times .move-buttons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 300px;
  height: 60px;
  z-index: 3;
}
/* line 189, ../sass/style.scss */
.difficult-times .move-buttons button {
  box-sizing: border-box;
  float: left;
  border: 0px;
  height: 100%;
  width: 50%;
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  color: #380F69;
}
/* line 201, ../sass/style.scss */
.difficult-times .move-buttons button:hover {
  background-color: #FBB13F;
}
/* line 204, ../sass/style.scss */
.difficult-times .move-buttons .left-btn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* line 208, ../sass/style.scss */
.difficult-times .move-buttons .right-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* line 215, ../sass/style.scss */
.difficult-times .difficult-section {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: pink;
}
/* line 222, ../sass/style.scss */
.difficult-times .difficult-section article {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x: center;
  transition: transform 1.2s ease-out;
  z-index: 1;
}
/* line 232, ../sass/style.scss */
.difficult-times .difficult-section article p {
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
/* line 240, ../sass/style.scss */
.difficult-times .difficult-section article p:hover {
  transform: scale(1.2);
}
/* line 244, ../sass/style.scss */
.difficult-times .difficult-section article.active {
  transform: none;
  z-index: 2;
}
/* line 249, ../sass/style.scss */
.difficult-times .difficult-section article.move-left {
  transform: translate(-100%);
}
/* line 253, ../sass/style.scss */
.difficult-times .difficult-section article.move-right {
  transform: translate(100%);
}
/* line 257, ../sass/style.scss */
.difficult-times .difficult-section article.rape-case {
  background-image: url("../assets/rape.jpg");
}
/* line 260, ../sass/style.scss */
.difficult-times .difficult-section article.final-game-lost {
  background-image: url("../assets/final-lost.jpg");
}
/* line 263, ../sass/style.scss */
.difficult-times .difficult-section article.ok-collapse {
  background-image: url("../assets/ok-collapse.jpg");
}
/* line 266, ../sass/style.scss */
.difficult-times .difficult-section article.no-playoff {
  background-image: url("../assets/lost-sun.jpg");
}
/* line 269, ../sass/style.scss */
.difficult-times .difficult-section article.injury {
  background-image: url("../assets/injury.jpg");
}

/* line 275, ../sass/style.scss */
footer {
  width: 100%;
  height: 50px;
  background-color: #380F69;
}
/* line 280, ../sass/style.scss */
footer p {
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  font-family: Arial;
  color: #FBB13F;
}
